*{
    margin: 0;
   

    font-family: 'Creepster', cursive;
font-family: 'Lobster', cursive;
    
}
.navbar{
    height: 80px;
    background-color: rgb(3, 0, 0);
    display: flex;
    align-items: center;
    position:sticky;
    

}
.navlist li a{
    
    font-size: 21px;
    text-decoration: none;
    padding: 8px 37px;
    padding-top: 5px;
    color: aliceblue;
    margin-top: 10px;

}
.navlist{
    display: flex;
}
.rightnav{
    display: flex; 
    text-align: right;
    align-items:right;
    justify-content: center;
    margin-left: 65rem;
}
.b2{
    background-image:  url("back.jpg");
    height:900px;
}
.logo img{
    width: 50px;
    border: 2px solid rgb(62, 63, 53);
    border-radius: 40px;
}

#search{
    margin-top: 10px;
    margin-right: 2px;
    padding-right:2px;
    font-size: 17px;
    height: 30px;
    border: 2px solid rgb(190, 190, 178);
    border-radius: 30px;
}
.btn{
    padding: 8px 20px;
    margin: 10px 0px;
    border: 2px solid rgb(213, 214, 200);
    border-radius: 20px;
    background: none;
    color: rgb(193, 179, 204);
    cursor: pointer;
}


.circle{
    height: 40px;
    width: 40px;
    color: aliceblue;
    background-color: aliceblue;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
}
.bo{
    width: 100%;
}
#in{
    background-image: url(Untitled-design-_1_.svg);
    
    height: 2875px;
}

.start{
    
    text-align: center; 
    padding-left: 650px ;
    display: flex;
    background-color: black;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}
h1 {
    font-size: 4rem;
    font-weight: 400;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 4rem;
    padding: 0.43em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
}
  }
  .end{
    
    text-align: center; 
    padding-left: 940px ;
    display: flex;
    background-color: black;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}
.mainheading{
    padding-top: 15rem;
    font-size:6rem;
    color: #fff;
    display: flex;
    
    justify-content: center;
    
}
.mainpara{
    padding: 20px 30px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 7px #fff,
     0 0 1px #383131, 
     0 0 3px #3f3838, 
     0 0 8px #706375, 
     0 0 15px #cba4db, 
     0 0 20px #a891b1, 
     0 0 30px #897691, 
     0 0 40px #b89cc4;
}
.poster img{
    height: 20rem;
    width: 35rem;
    display: flex;
    margin-left: 80rem;
    border: 2px solid rgb(58, 51, 51);
    border-radius: 3rem;
}
#id h2{
    display: flex;
}
.secright{
    display: flex;
   
    color: rgb(222, 223, 214);
    justify-content: space-evenly;
    align-items: center;
    height: 718px;
    width: 90%;
    margin-right: 50px;

}
.thumbnail img{
    height: 260px;
    width: 450px;
    border: 2px solid #fff;
    border-radius: 74px;
    animation: pulsate 1.5s infinite alternate;
    box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
    

}
.secleft{
    display: flex;
    color: rgb(222, 223, 214);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 718px;
    width: 90%;
    margin-left: 132px;
}
.text-big{
    font-size: 60px;
}
.text-small{
    font-size: 30px;
}
.leftpara{
    padding-left: 550px;
    padding-right: 40px;
}
.rightpara{
    padding-right: 350px;
    padding-left: 20px;
}
.leftthumb{
    padding-left: 20px;
}
.none{
    background-color: black;
   
    width: 100%;
    
}

.imggal{
    background-color: black;
    /* background-image: url("black-screen-wallpaper-kolpaper-11.jpg"); */
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3%;
}

.img-heading{
    padding-top: 70px;
    color: #fff;
    font-size: 5rem;
    background-color: black;

   
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 70px;
    width: 30%;
    
    padding-left: 2%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    border-radius: 20px;
    
    object-fit: cover;
}
.card:hover{
    transform: scale(1.04);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.4s;

}
.card img:hover{
    filter: grayscale(0%);
    cursor: pointer;
}